HHInter/checkpoints
HHInter/results
HHInter/data/essentials
__pycache__
.idea
*.lnk
*.sh
*.ckpt
*.log
*.ply
HSInter/coins/checkpoints

# Ignore the entire data folder, except specific paths
HSInter/data/*
!HSInter/data/models_smplx_v1_1/

# Ignore everything under models_smplx_v1_1 except markers JSON files
HSInter/data/models_smplx_v1_1/*
!HSInter/data/models_smplx_v1_1/models/
HSInter/data/models_smplx_v1_1/models/*
!HSInter/data/models_smplx_v1_1/models/markers/

HSInter/results*
HSInter/results_Story_HIM
marker_regressor/results*
