HHInter/checkpoints
HHInter/results
HHInter/data/essentials
__pycache__
.idea
*.lnk
*.sh
*.ckpt
*.log
*.ply
HSInter/coins/checkpoints
HSInter/data
HSInter/results*
HSInter/results_Story_HIM
marker_regressor/results*
